# Ignore build files
DCOM-Dll/x64
DCOM-Dll/Debug
Debug/
x64/
Release/
__pycache__/
TestFiles/

# Ignore irrelevant studio files
DCOM-Dll/.vs
DCOM-Exe/.vs
*.sln
*.exe
*.dll
*.db-shm
*.db-wal
*.opendb
*.iobj
*.ipbd
*.pdb
*.suo
*.tlog
*.ilk
*.psch
*.vcxproj.filters
*.vcxproj.user
