# Ignore build files
Implantless-Dll/x64
Implantless-Dll/Debug
Debug/
x64/
Release/
__pycache__/
TestFiles/

# Ignore irrelevant studio files
Implantless-Dll/.vs
Implantless-Exe/.vs
*.sln
*.exe
*.dll
*.db-shm
*.db-wal
*.opendb
*.iobj
*.ipbd
*.pdb
*.suo
*.tlog
*.ilk
*.psch
*.vcxproj.filters
*.vcxproj.user
